STRAPI_URL=https://wp-nextjs-strapi-backend.onrender.com
NEXT_PUBLIC_STRAPI_URL=https://wp-nextjs-strapi-backend.onrender.com
STRAPI_API_TOKEN=your_api_token_here
NEXT_PUBLIC_SITE_URL=http://localhost:3003