STRAPI_URL=https://artemis-nextjs-strapi-backend-v2.onrender.com
NEXT_PUBLIC_STRAPI_URL=https://artemis-nextjs-strapi-backend-v2.onrender.com
STRAPI_API_TOKEN=your_api_token_here
NEXT_PUBLIC_SITE_URL=http://localhost:3003