:root {
  --header-height: 16.5rem;
  --page-padding: 4.8rem; // ← NEW
}

@media (max-width: 75em) {
  :root {
    --header-height: 15.5rem;
    --page-padding: 2.5rem; // ← NEW
  }
}

@media (max-width: 56.25em) {
  :root {
    --header-height: 14.5rem;
    --page-padding: 1.5rem; // ← NEW
  }
}

@media (max-width: 23.4375em) {
  :root {
    --header-height: 12rem;
    --page-padding: 1rem; // ← NEW
  }
}

$turquoise: #14a998;
$light-beige: #fffbf4;
$light-brown: #f1e8d9;
$orange: #ce822f;
$beige: #d7c094;
$black: #000000;